KDECK_HOST=0.0.0.0
KDECK_PORT=18301
KDECK_TOKEN=change-this-token
KDECK_ALLOWED_ROOTS=/home/kojima/work/url2ai,/home/kojima/work/vwork,/home/kojima/work/kmail,/home/kojima/work/rqdb4ai,/home/kojima/work/aixec,/home/kojima/work/horizon,/home/kojima/work/buzblogger,/home/kojima/work/swork,/home/kojima/work/kdeck
KDECK_CODEX_CMD=codex
